.fontshow{
    border: 1px solid #CCCED7;
    background-color: #fff;
    width: 300px;
    padding: 20px;
    font-size:16px;
    text-align:center;
}
.pattern{
	dislay: block;
	width: 40px;
	height: 40px;
	border: 1px solid #fff;
	background-color: #fff;
	margin: 0px 6px 6px 0;
 }
 .delete_image{display:block;}
 .img_preview{max-height: 200px;}
 .parttern_wrap{display:inline-block;position:relative;width: 60px;height:60px;overflow:hidden;margin-right:3px;}
 .parttern_wrap span{position:absolute;left:0;top:0;color:#333;display:inline-block;background:#fff;padding:2px;}
form.stthemeeditor fieldset{display:none;}
form.stthemeeditor fieldset.selected{display:block;}
form.stthemeeditor br{display:none;}
form.stthemeeditor .preference_description br{display:block;}
.st_tabs li{float:left;}
.st_tabs li a{display:inline-block;padding:10px 6px;background:#FAFAFA;border: 1px solid #CCCED7;border-right:none;font-size:14px;font-weight:normal;margin-bottom:-1px;}
.st_tabs li:last-child a{border-right: 1px solid #CCCED7;}
.st_tabs li a:hover,
.st_tabs li.selected a{background:#EBEDF4;border-bottom-color:#EBEDF4;}

@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?8434730');
  src: url('../font/fontello.eot?8434730#iefix') format('embedded-opentype'),
       url('../font/fontello.woff?8434730') format('woff'),
       url('../font/fontello.ttf?8434730') format('truetype'),
       url('../font/fontello.svg?8434730#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?8434730#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-exchange-1:before { content: '\e801'; }
.icon-ajust:before { content: '\e802'; }
.icon-heart:before { content: '\2665'; }
.icon-star-1:before { content: '\e800'; }
.icon-bag:before { content: '\e83c'; }
.icon-basket:before { content: '\e73d'; }