/* Block new products */
#new-products_block_right ul.product_images{display:none;}
#new-products_block_right ul {list-style-type:none;}
#new-products_block_right li {
	float:left;
	margin-right:20px;
	padding:10px 0;
}
#new-products_block_right li.first {margin-left:30px;}

#new-products_block_right dl {
	list-style-type:none;
}
#new-products_block_right dt {
	font-weight:bold;
}
#new-products_block_right dd {
	padding:0 0 10px 0;
	margin:0 0 10px 0;
	border-bottom:1px dotted #ccc;

}
#new-products_block_right dd.last_item {border:none;margin-bottom:0;}
#new-products_block_right dd a.lnk_more {
    text-decoration: underline;
}

#new-products_block_right .button_large {
	padding:0;
	border:none;
	background:none;
	color:#333;
    font-size:1em;
}
#new-products_block_right .button_large:hover {text-decoration:underline}
